.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  @extend %shadow;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    aspect-ratio: 3 / 1.8;
    object-fit: cover;
    pointer-events: none;
  }

  &__text {
    padding: 2rem 1.5rem 3rem 1.5rem;
    background-color: $white;
    pointer-events: none;

    span {
      font-weight: 600;
    }

    & p {
      padding: 0.125rem 0;
      &:first-of-type {
        margin-top: 1rem;
      }
    }
  }
}
