.options {
  &__content {
    @extend %content-w;
    padding: 8rem 0 2rem 0;
  }

  &__form {
    @extend %flex-c;
    flex-direction: column;
    gap: 3rem;
  }

  &__search {
    width: 100%;
    max-width: 400px;
    background: $white url("../images/magnifying-glass-solid.svg");
    background-size: 1.25rem;
    background-position: left 2rem center;
    padding: 1rem 1rem 1rem 5rem;
    color: $light--input;

    &::placeholder {
      color: $light--input;
    }
  }

  &__error {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid red;
    background-color: rgba(red, 0.05);
    width: 100%;
    max-width: 400px;

    &--hide {
      display: none;
    }
  }

  &__select {
    padding: 1rem 4rem 1rem 1.5rem;
    appearance: none;
    background-image: url("../images/chevron-down-solid.svg");
    background-size: 0.825rem;
    background-position: right 1.5rem center;
  }

  &__search,
  &__select {
    background-repeat: no-repeat;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba($dark--elements, 0.05);
  }

  @include breakpoint(768px) {
    &__content {
      padding: 10rem 0 3rem 0;
    }

    &__form {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
