<section class="options">
  <div class="options__content">
    <form class="options__form">
      <input
        type="search"
        name="search"
        class="options__search"
        placeholder="Search for a country..."
      />
      <select name="region" class="options__select">
        <option value="" disabled selected hidden>Filter by Region</option>
        <option value="africa">Africa</option>
        <option value="america">America</option>
        <option value="asia">Asia</option>
        <option value="europa">Europa</option>
        <option value="oceania">Oceania</option>
      </select>
    </form>
  </div>
</section>
